[submodule "crobots++/external/SDL"]
	path = crobots++/external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "crobots++/external/box2d"]
	path = crobots++/external/box2d
	url = https://github.com/erincatto/box2d
[submodule "crobots++/external/glm"]
	path = crobots++/external/glm
	url = https://github.com/g-truc/glm
